* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#container_page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header,
main,
footer {
    max-width: 600px;
}

.container_figure {
    gap: 2em;
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

img {
    width: 100%;
}

.container_figure p {
    font-size: .9em;
    margin: 5px 0;
}

.container_figure small {
    color: gray;
}

.container_figure span {
    font-style: italic
}

.container_wrap {
    gap: 1em;
    display: flex;
}

.container_wrap img {
    height: 200px;
}

#container_footer {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#container_footer img {
    margin-bottom: 15px;
}

#container_footer p {
    font-size: .8em;
}

.border_nrf,
.border_nba,
.border_whats {
    width: 50%;
    border: 2px solid transparent;
}

.border_nrf {
    border-image: linear-gradient(45deg, red, blue) 1;
}

.border_nba {
    border-image: linear-gradient(45deg, rgba(0, 0, 255, 0.4), blue) 1;
}

.border_whats {
    border-image: linear-gradient(45deg, rgba(0, 128, 0, 0.4), green) 1;
}

/* Estilos para a animação de zoom */
.zoom_effect {
    color: black;
    text-decoration: none;
    transition: transform 0.3s;
}

.zoom_effect:hover {
    transform: scale(1.01);
}

@media screen and (max-width: 450px) {
    .container_wrap {
        flex-wrap: wrap;
    }
}